<a href="https://colab.research.google.com/github/ijustwanttoputcodehere/Praca_Inz/blob/main/Skotch_NEW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/WhiskyDB/scotch_review.csv')

In [ ]:
df

      Unnamed: 0  ...                                        description
0              1  ...  Magnificently powerful and intense. Caramels, ...
1              2  ...  What impresses me most is how this whisky evol...
2              3  ...  There have been some legendary Bowmores from t...
3              4  ...  With a name inspired by a 1926 Buster Keaton m...
4              5  ...  Captivating, enticing, and wonderfully charmin...
...          ...  ...                                                ...
2242        2243  ...  Its best attributes are vanilla, toasted cocon...
2243        2244  ...  Aged in a sherry cask, which adds sweet notes ...
2244        2245  ...  Earthy, fleshy notes with brooding grape notes...
2245        2246  ...  The sherry is very dominant and cloying, which...
2246        2247  ...  Fiery peat kiln smoke, tar, and ripe barley on...

[2247 rows x 7 columns]

In [ ]:
df = df.iloc[:,1:]
df = df.iloc[:,:-2]
df

                                                   name  ...     price
0                        Johnnie Walker Blue Label, 40%  ...       225
1       Black Bowmore, 1964 vintage, 42 year old, 40.5%  ...   4500.00
2           Bowmore 46 year old (distilled 1964), 42.9%  ...  13500.00
3                        Compass Box The General, 53.4%  ...       325
4                               Chivas Regal Ultis, 40%  ...       160
...                                                 ...  ...       ...
2242  Duncan Taylor (distilled at Cameronbridge), Ca...  ...    125.00
2243  Distillery Select 'Craiglodge' (distilled at L...  ...     60.00
2244         Edradour Barolo Finish, 11 year old, 57.1%  ...     80.00
2245  Highland Park, Cask #7380, 1981 vintage, 25 ye...  ...    225.00
2246  Distillery Select 'Inchmoan' (distilled at Loc...  ...     60.00

[2247 rows x 4 columns]

In [ ]:
import re

int_price=[]

# finding out the complications in the column
for i in df['price']:
    #removing $ and , so that we can convert this feature price into integer type
    _=re.sub(r'[$,]+','',i)
    #converting float integrs
    x=re.sub(r'\W\d\d','',_)
    z=0
    #converting liter into one botle price
    if ("/l" in x):
        l=re.sub(r'[/l]\w+','',x)
        
        z=int(l)
        z=z*.75
        int_price.append(z)
        
    # if any of the alphanumeric value like space like we encountered the case : ('$15,000 or $60,000/set')     
    elif(" " in  x):
        l= re.sub(r'[ ]\w+\W+\w+','',x)
        z=int(l)
        int_price.append(z)
            
    elif ("set" in x):
        l=re.sub(r'[/]\w+','',x)
        
        z= int(l)
        z=z/4
        int_price.append(z)
    else :
        z=int(x)
        int_price.append(z)
print(int_price)

[225, 4500, 13500, 325, 160, 85, 6250, 11000, 1500, 3360, 750, 1500, 3108, 105, 120, 3500, 70, 20000, 70, 15000, 26650, 400, 200, 400, 455, 750, 200, 460, 2525, 1250, 280, 500, 215, 300, 400, 2000, 4000, 225, 60, 180, 300, 3500, 120, 181, 20000, 800, 250, 500, 6000, 30000, 645, 11824, 1250, 550, 700, 140, 400, 700, 387, 5730, 100, 325, 300, 350, 350, 6088, 3500, 112, 109, 130, 100, 120, 1900, 100, 200, 1400, 84, 3000, 225, 164, 50, 150, 140, 175, 1100, 157000, 850, 34, 600, 225, 55, 60, 600, 400, 250, 15000.0, 90, 191, 1925, 2200, 1700, 430, 1100, 150, 300, 135, 250, 3000, 750, 60000, 95, 262, 750, 599, 9420, 600, 2000, 100, 350, 45, 85, 2850, 500, 1000, 150, 100, 1900, 3657, 127, 167, 1200, 525, 280, 3500, 80, 304, 370, 455, 3300, 4000, 3500, 580, 200, 240, 300, 65, 4500, 4000, 170, 60, 300, 248, 2000, 76, 236, 173, 560, 380, 100, 200, 145, 260, 140, 290, 85, 85, 150, 115, 130, 75, 225, 275, 125, 200, 815, 53, 99, 120, 200, 80, 125, 250, 100, 95, 155, 263, 95, 1600, 1722, 1500, 120, 1100, 95, 1300, 125, 5000, 1230, 7500, 195, 336, 12000, 580, 16000, 383, 135, 600, 4640, 800, 110, 375, 2050, 220, 300, 615, 160, 220, 485, 382, 438, 106, 132, 3700, 300, 90, 624, 152, 60, 250, 166, 150, 148, 220, 250, 52, 1000, 60, 65, 240, 294, 250, 488, 150, 1400, 130, 160, 275, 205, 200, 850, 600, 90, 260, 600, 730, 4000, 75, 250, 70, 60, 1000, 162, 140, 75, 100, 137, 48, 70, 140, 80, 100, 225, 66, 152, 450, 216, 50, 65, 170, 300, 65, 45, 840, 400, 80, 499, 160, 100, 100, 160, 160, 110, 550, 110, 115, 80, 62, 369, 220, 350, 283, 1600, 1735, 160, 85, 100, 140, 350, 330, 1100, 130, 152, 258, 96, 500, 175, 236, 24000, 530, 592, 407, 320, 113, 500, 850, 418, 250, 131, 530, 9500, 750, 250, 395, 150, 85, 1593, 875, 100, 100, 100, 112, 225, 50, 135, 1450, 118, 2750, 65, 200, 2313, 110, 375, 135, 85, 150, 359, 1000, 23427, 150, 488, 4000, 329, 81, 51, 100, 200, 80, 657, 111, 150, 145, 280, 536, 763, 246, 300, 103, 200, 79, 158, 615, 169, 65, 60, 287, 120, 59, 65, 60, 300, 60, 40, 30, 170, 50, 125, 60, 55, 60, 65, 130, 100, 450, 75, 100, 120, 550, 120, 250, 250, 27620, 15000.0, 325, 400, 80, 555, 550, 240, 59, 460, 800, 65, 100, 92, 90, 118, 225, 80, 65, 285, 234, 57, 72, 87, 65, 160, 265, 200, 7500, 133, 700, 85, 125, 59, 8000, 1980, 975, 1215, 512, 289, 177, 125, 71, 900, 540, 270, 379, 99, 2339, 185, 100, 260, 471, 2000, 155, 421, 125, 60, 36, 155, 21000, 1230, 450, 300, 70, 119, 99, 53, 70, 330, 188, 60, 46, 200, 300, 900, 75, 162, 90, 100, 1500, 99, 252, 180, 185, 700, 117, 187, 65, 105, 95, 157, 93, 127, 300, 256, 275, 100, 307, 160, 59, 50, 65, 349, 50, 250, 88, 230, 415, 140, 30, 989, 109, 76, 100, 232, 90, 55, 59, 936, 229, 115, 45, 85, 55, 70, 399, 150, 180, 200, 51, 104, 117, 127, 390, 76, 160, 160, 100, 53, 2020, 698, 422, 190, 295, 587, 900, 130, 246, 50, 108, 43, 453, 1200, 120, 70, 235, 165, 65, 140, 35, 180, 220, 188, 60, 55, 45, 33.0, 32, 33, 160, 110, 100, 130, 85, 90, 151, 191, 500, 78, 130, 108, 120, 130, 120, 100, 70, 550, 55, 3500, 150, 60, 170, 87, 86, 180, 174, 95, 70, 1500, 120, 90, 160, 125, 180, 110, 322, 83, 66, 420, 53, 75, 45, 75, 150, 50, 110, 140, 67, 600, 115, 17600, 3600, 340, 160, 145, 245, 97, 6000, 329, 1052, 130, 120, 99, 110, 100, 100, 98, 1087, 557, 189, 200, 165, 130, 700, 305, 200, 135, 75, 99, 99, 80, 120, 55, 123, 313, 824, 165, 210, 150, 2880, 120, 1348, 560, 300, 63, 85, 108, 118, 5450, 155, 105, 90, 110, 154, 230, 220, 151, 100, 94, 100, 63, 195, 400, 279, 3700, 261, 300, 485, 105, 200, 66, 130, 200, 225, 350, 61, 72, 52, 290, 262, 140, 275, 625, 31, 80, 53, 172, 124, 64, 75, 50, 65, 100, 310, 140, 175, 35, 300, 70, 380, 69, 1150, 45, 69, 74, 190, 120, 181, 83, 130, 255, 140, 100, 100, 114, 46, 168, 718, 130, 100, 68, 549, 100, 57, 7000, 128, 150, 168, 503, 749, 111, 165, 84, 90, 55, 350, 68, 165, 406, 50, 38, 45, 55, 126, 3378, 43, 30, 80, 300, 160, 80, 170, 125, 119, 130, 130, 110, 820, 65, 130, 53, 85, 90, 3982, 599, 99, 140, 195, 50, 100, 160, 50, 610, 75, 130, 385, 100, 120, 65, 101, 230, 66, 99, 50, 85, 225, 170, 60, 205, 79, 100, 165, 126, 800, 815, 80, 200, 156, 229, 2260, 100, 95, 135, 90, 480, 665, 81, 70, 109, 160, 95, 160, 180, 100, 57, 205, 80, 62, 80, 111, 82, 115, 80, 90, 125, 124, 140, 158, 54, 110, 124, 125, 215, 539, 270, 70, 322, 500, 180, 77, 65, 60, 60, 142, 135, 210, 115, 55, 29, 79, 230, 650, 103, 567, 89, 65, 55, 62, 65, 200, 2280, 600, 170, 500, 135, 75, 190, 160, 100, 89, 76, 81, 160, 175, 70, 60, 553, 780, 78, 96, 145, 188, 84, 124, 160, 80, 117, 125, 40, 41, 60, 60, 45, 359, 1400, 101, 200, 65, 37, 80, 139, 190, 297, 75, 127, 49, 70, 294, 65, 220, 91, 150, 108, 40, 676, 113, 61, 140, 85, 265, 100, 105, 200, 422, 141, 636, 40, 115, 262, 548, 62, 63, 25, 55, 70, 180, 45, 65, 65, 70, 13, 43, 267, 80, 135, 48, 62, 199, 99, 65, 30, 300, 160, 55, 110, 105, 110, 50, 62, 66, 130, 75, 80, 607, 750, 145, 375, 65, 60, 6542, 15000.0, 300, 70, 93, 66, 65, 140, 137, 60, 100, 48, 70, 120, 138, 100, 60, 95, 1000, 80, 80, 140, 100, 48, 135, 3104, 55, 70, 156, 167, 120, 45, 70, 100, 68, 65, 50, 150, 69, 72, 300, 81, 85, 135, 80, 50, 406, 52, 98, 138, 14999, 110, 114, 88, 137, 115, 210, 451, 48, 75, 72, 386, 392, 1456, 4664, 111, 62, 86, 95, 108, 637, 80, 200, 50, 200, 70, 58, 56, 78, 322, 60, 140, 215, 78, 48, 250, 270, 71, 40, 100, 500, 325, 108, 82, 135, 2000, 549, 90, 400, 175, 80, 35, 120, 92, 2000, 60, 270, 72, 950, 100, 105, 77, 471, 135, 180, 240, 36, 60, 400, 353, 250, 337, 120, 300, 460, 70, 130, 164, 230, 189, 133, 144, 132, 127, 29, 48, 30, 63, 100, 92, 76, 210, 158, 25, 55, 58, 60, 85, 80, 123, 108, 101, 117, 102, 178, 106, 42, 190, 83, 151, 59, 62, 120, 110, 140, 145, 170, 345, 135, 78, 132, 76, 95, 50, 65, 84, 30, 110, 43, 302, 63, 72, 127, 325, 60, 277, 72, 1750, 288, 65, 65, 33, 116, 62, 35, 805, 58, 25, 110, 130, 80, 80, 70, 125, 123, 1500, 95, 63, 62, 70, 126, 97, 120, 140, 62, 130, 15000.0, 40, 85, 140, 54, 101, 70, 115, 75, 129, 119, 630, 455, 100, 130, 68, 100, 123, 421, 100, 103, 140, 74, 125, 126, 69, 69, 3200, 65, 300, 480, 80, 105, 105, 85, 92, 42, 59, 110, 48, 100, 803, 589, 1279, 37, 78, 62, 500, 55, 125, 170, 175, 694, 625, 50, 70, 75, 450, 98, 125, 125, 86, 135, 80, 956, 140, 84, 60, 410, 653, 175, 180, 96, 69, 202, 235, 140, 70, 48, 35, 119, 130, 125, 160, 70, 135, 125, 2750, 95, 1013, 121, 32, 384, 75, 85, 280, 98, 150, 79, 75, 58, 115, 113, 95, 100, 100, 90, 83, 353, 69, 50, 185, 210, 40, 80, 55, 50, 50, 50, 152, 76, 125, 65, 125, 100, 87, 79, 81, 159, 129, 176, 129, 122, 150, 79, 54, 39, 50, 100, 135, 55, 30, 30, 30, 29, 58, 120, 20, 1250, 45, 165, 85, 135, 80, 38, 100, 115, 179, 78, 52, 65, 90, 62, 60, 180, 169, 92, 110, 224, 144, 105, 124, 80, 150, 180, 100, 175, 67, 110, 101, 45, 78, 25, 199, 25, 59, 47, 763, 43, 120, 115, 119, 168, 32, 29, 54, 45, 48, 30, 33, 159, 40, 26, 80, 25, 225, 65, 80, 63, 95, 150, 70, 60, 53, 60, 101, 100, 100, 130, 83, 90, 130, 1872, 96, 88, 65, 150, 100, 63, 63, 1000, 1500, 180, 74, 100, 130, 37, 250, 239, 88, 265, 70, 56, 215, 50, 70, 70, 134, 53, 150, 69, 6400, 118, 70, 99, 65, 150, 80, 300, 60, 67, 76, 119, 120, 200, 80, 140, 120, 78, 92, 120, 115, 46, 67, 65, 40, 92, 92, 410, 33, 55, 83, 55, 88, 49, 124, 505, 85, 111, 60, 796, 61, 1141, 103, 111, 3000, 78, 135, 135, 135, 60, 80, 110, 115, 900, 72, 165, 207, 3000, 130, 160, 150, 125, 45, 60, 2750, 406, 80, 67, 815, 53, 212, 45, 75, 160, 95, 350, 70, 50, 73, 65, 89, 99, 45, 250, 75, 80, 110, 115, 70, 70, 133, 105, 174, 95, 137, 95, 143, 133, 107, 129, 57, 54, 122, 70, 100, 297, 30, 92, 450, 450, 25, 178, 89, 604, 76, 62, 31, 18, 22, 152, 66, 110, 44, 45, 92, 152, 512, 53, 85, 80, 111, 65, 110, 151, 70, 17, 400, 80, 173, 191, 30, 45, 23, 101, 65, 25, 45, 44, 80, 90, 100, 70, 78, 45, 45, 70, 66, 70, 50, 94, 63, 80, 100, 1008, 85, 450, 54, 81, 101, 400, 125, 80, 53, 90, 100, 125, 78, 274, 71, 75, 75, 90, 65, 50, 60, 85, 325, 153, 101, 108, 100, 45, 65, 65, 58, 100, 90, 135, 50, 145, 127, 56, 74, 58, 130, 136, 724, 123, 70, 140, 78, 72, 68, 65, 70, 92, 99, 45, 60, 65, 180, 120, 68, 151, 110, 500, 60, 80, 65, 246, 282, 140, 320, 75, 70, 952, 50, 150, 68, 95, 150, 185, 100, 48, 110, 54, 220, 40, 50, 40, 81, 152, 87, 50, 150, 75, 70, 1900, 77, 27, 127, 104, 131, 61, 115, 55, 29, 17, 80, 95, 75, 50, 70, 90, 35, 49, 60, 29, 76, 76, 74, 49, 22, 100, 270, 123, 133, 73, 125, 345, 180, 84, 60, 78, 96, 100, 475, 76, 160, 45, 183, 20, 43, 191, 400, 275, 56, 117, 122, 124, 98, 81, 161, 55, 16, 25, 43, 40, 39, 95, 85, 25, 195, 80, 62, 120, 40, 74, 90, 55, 225, 85, 90, 113, 690, 110, 120, 55, 170, 170, 180, 60, 50, 85, 88, 117, 138, 84, 85, 150, 45, 265, 135, 140, 155, 160, 100, 73, 160, 210, 592, 125, 36, 90, 155, 900, 50, 100, 156, 700, 89, 67, 73, 440, 51, 90, 93, 111, 130, 45, 49, 220, 80, 137, 76, 75, 65, 121, 190, 70, 44, 90, 2750, 70, 56, 567, 185, 63, 97, 70, 40, 40, 73, 55, 180, 70, 65, 30, 70, 119, 154, 164, 104, 190, 54, 125, 60, 108, 78, 40, 325, 100, 90, 45, 61, 61, 46, 119, 160, 100, 142, 77, 32, 98, 60, 168, 119, 73, 69, 110, 90, 90, 95, 72, 73, 76, 37, 33, 44, 53, 65, 348, 61, 115, 126, 60, 195, 69, 22, 40, 55, 700, 212, 90, 101, 75, 50, 150, 88, 465, 65, 75, 60, 1250, 135, 100, 72, 55, 32, 180, 90, 65, 125, 65, 56, 288, 55, 72, 84, 44, 90, 150, 65, 60, 151, 73, 73, 70, 115, 100, 59, 52, 48, 59, 100, 65, 120, 124, 53, 65, 200, 80, 100, 100, 30, 200, 100, 42, 50, 70, 65, 70, 70, 40, 40, 55, 30, 55, 58, 52, 157, 91, 64, 18, 15, 67, 130, 56, 101, 88, 191, 100, 206, 35, 73, 135, 50, 25, 17, 145, 40, 126, 185, 200, 45, 33, 145, 35, 80, 160, 153, 140, 65, 65, 135, 84, 109, 210, 93, 115, 175, 45, 60, 899, 109, 60, 238, 63, 55, 80, 70, 138, 80, 75, 25, 133, 90, 125, 170, 135, 300, 155, 67, 75, 52, 40, 112, 53, 78, 82, 61, 60, 239, 80, 21, 134, 340, 14, 12, 53, 75, 155, 146, 108, 56, 117, 82, 98, 109, 120, 95, 50, 70, 40, 70, 30, 130, 576, 1800, 63, 82, 93, 102, 80, 85, 94, 160, 123, 57, 81, 275, 200, 65, 200, 54, 48, 104, 97, 160, 995, 48, 75, 30, 62, 150, 90, 40, 94, 75, 48, 68, 190, 201, 225, 80, 60, 75, 110, 85, 25, 55, 20, 30, 1113, 215, 55, 302, 122, 75, 28, 56, 65, 89, 220, 117, 49, 114, 105, 101, 66, 95, 110, 44, 105, 119, 300, 53, 140, 24, 72, 200, 13, 105, 202, 120, 150, 80, 55, 65, 185, 1318, 820, 65, 61, 80, 185, 120, 108, 130, 33, 62, 100, 27, 125, 75, 40, 96, 24, 455, 108, 48, 100, 15, 40, 85, 60, 77, 43, 119, 110, 130, 110, 144, 95, 57, 25, 76, 250, 20, 80, 37, 50, 2000, 50, 45, 205, 375, 62, 18, 22, 65, 14, 129, 40, 48, 35, 40, 80, 220, 75, 12000, 1700, 250, 85, 60, 45, 125, 60, 80, 225, 60]

In [ ]:
df['price']=int_price
df['price']=df['price'].astype(int)

In [ ]:
df.dtypes

name            object
category        object
review.point     int64
price            int64
dtype: object

In [ ]:
#features = ['category', 'price']
features = ['price']
X = df[features].copy()
y = df['review.point']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
# applying the scaling to the test set that we computed for the training set
X_test = scaler.transform(X_test)

In [ ]:
label_X_train = X_train.copy()
label_X_test = X_test.copy()

In [ ]:
df.dtypes

name            object
category        object
review.point     int64
price            int64
dtype: object

In [ ]:
new_df = df
new_df[col] = label_encoder.fit_transform(new_df[col])

NameError: ignored

In [ ]:
new_df.dtypes

In [ ]:
new_df.corr()

              review.point     price
review.point      1.000000  0.128042
price             0.128042  1.000000

In [ ]:
label_X_train = np.array(label_X_train)
label_X_test = np.array(label_X_test)
y_train = np.array(y_train)
y_test = np.array(y_test)

label_X_train.shape[1:]

(1,)

In [ ]:
import tensorflow as tf
from tensorflow import keras

model = keras.models.Sequential([
keras.layers.Dense(30, activation="relu", input_shape=label_X_train.shape[1:]),
keras.layers.Dense(1)
])

In [ ]:
y_train

In [ ]:
label_X_train

In [ ]:
model.compile(loss="mean_squared_error", optimizer="Adam")
history = model.fit(label_X_train, y_train, epochs=30,
validation_data=(label_X_test, y_test))

Epoch 1/30
53/53 [==============================] - 1s 8ms/step - loss: 7505.2098 - val_loss: 7529.0195
Epoch 2/30
53/53 [==============================] - 0s 2ms/step - loss: 7469.8477 - val_loss: 7491.8789
Epoch 3/30
53/53 [==============================] - 0s 2ms/step - loss: 7451.7855 - val_loss: 7437.9053
Epoch 4/30
53/53 [==============================] - 0s 2ms/step - loss: 7404.9665 - val_loss: 7366.4966
Epoch 5/30
53/53 [==============================] - 0s 2ms/step - loss: 7302.4626 - val_loss: 7277.8369
Epoch 6/30
53/53 [==============================] - 0s 2ms/step - loss: 7214.2256 - val_loss: 7172.5674
Epoch 7/30
53/53 [==============================] - 0s 2ms/step - loss: 7117.7010 - val_loss: 7051.3252
Epoch 8/30
53/53 [==============================] - 0s 2ms/step - loss: 7001.1289 - val_loss: 6915.2534
Epoch 9/30
53/53 [==============================] - 0s 4ms/step - loss: 6860.8858 - val_loss: 6765.2715
Epoch 10/30
53/53 [==============================] - 0s 2ms/step - loss: 6698.2896 - val_loss: 6602.2627
Epoch 11/30
53/53 [==============================] - 0s 2ms/step - loss: 6542.9446 - val_loss: 6427.4634
Epoch 12/30
53/53 [==============================] - 0s 2ms/step - loss: 6369.3306 - val_loss: 6242.2075
Epoch 13/30
53/53 [==============================] - 0s 2ms/step - loss: 6177.7402 - val_loss: 6047.3677
Epoch 14/30
53/53 [==============================] - 0s 2ms/step - loss: 5972.6485 - val_loss: 5844.2368
Epoch 15/30
53/53 [==============================] - 0s 2ms/step - loss: 5787.5230 - val_loss: 5634.0996
Epoch 16/30
53/53 [==============================] - 0s 2ms/step - loss: 5559.2283 - val_loss: 5417.9976
Epoch 17/30
53/53 [==============================] - 0s 2ms/step - loss: 5340.0735 - val_loss: 5197.0322
Epoch 18/30
53/53 [==============================] - 0s 2ms/step - loss: 5120.3569 - val_loss: 4972.4741
Epoch 19/30
53/53 [==============================] - 0s 2ms/step - loss: 4907.0546 - val_loss: 4745.2666
Epoch 20/30
53/53 [==============================] - 0s 2ms/step - loss: 4665.2265 - val_loss: 4516.7852
Epoch 21/30
53/53 [==============================] - 0s 2ms/step - loss: 4438.6578 - val_loss: 4278.7612
Epoch 22/30
53/53 [==============================] - 0s 2ms/step - loss: 4189.2119 - val_loss: 4027.0886
Epoch 23/30
53/53 [==============================] - 0s 2ms/step - loss: 3957.3420 - val_loss: 3773.8137
Epoch 24/30
53/53 [==============================] - 0s 2ms/step - loss: 3697.2366 - val_loss: 3523.0938
Epoch 25/30
53/53 [==============================] - 0s 2ms/step - loss: 3444.6692 - val_loss: 3277.0027
Epoch 26/30
53/53 [==============================] - 0s 2ms/step - loss: 3202.5337 - val_loss: 3036.9624
Epoch 27/30
53/53 [==============================] - 0s 2ms/step - loss: 2951.1501 - val_loss: 2804.2900
Epoch 28/30
53/53 [==============================] - 0s 2ms/step - loss: 2723.9545 - val_loss: 2579.5974
Epoch 29/30
53/53 [==============================] - 0s 2ms/step - loss: 2504.6150 - val_loss: 2363.9094
Epoch 30/30
53/53 [==============================] - 0s 2ms/step - loss: 2305.1122 - val_loss: 2157.5786

In [ ]:
from xgboost import XGBRegressor

my_model = XGBRegressor(n_estimators=100)
my_model.fit(label_X_train, y_train, early_stopping_rounds=10, eval_set=[(label_X_test,y_test)])

[17:13:05] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[0]	validation_0-rmse:77.8056
Will train until validation_0-rmse hasn't improved in 10 rounds.
[1]	validation_0-rmse:70.0675
[2]	validation_0-rmse:63.1053
[3]	validation_0-rmse:56.842
[4]	validation_0-rmse:51.2078
[5]	validation_0-rmse:46.1321
[6]	validation_0-rmse:41.5634
[7]	validation_0-rmse:37.4596
[8]	validation_0-rmse:33.7706
[9]	validation_0-rmse:30.4494
[10]	validation_0-rmse:27.4652
[11]	validation_0-rmse:24.7885
[12]	validation_0-rmse:22.3827
[13]	validation_0-rmse:20.2265
[14]	validation_0-rmse:18.2901
[15]	validation_0-rmse:16.5578
[16]	validation_0-rmse:15.0065
[17]	validation_0-rmse:13.6186
[18]	validation_0-rmse:12.3798
[19]	validation_0-rmse:11.2744
[20]	validation_0-rmse:10.2939
[21]	validation_0-rmse:9.42451
[22]	validation_0-rmse:8.65284
[23]	validation_0-rmse:7.97202
[24]	validation_0-rmse:7.37403
[25]	validation_0-rmse:6.8514
[26]	validation_0-rmse:6.39713
[27]	validation_0-rmse:6.00183
[28]	validation_0-rmse:5.66235
[29]	validation_0-rmse:5.36993
[30]	validation_0-rmse:5.12264
[31]	validation_0-rmse:4.91049
[32]	validation_0-rmse:4.73361
[33]	validation_0-rmse:4.58322
[34]	validation_0-rmse:4.46027
[35]	validation_0-rmse:4.357
[36]	validation_0-rmse:4.26924
[37]	validation_0-rmse:4.19788
[38]	validation_0-rmse:4.138
[39]	validation_0-rmse:4.08964
[40]	validation_0-rmse:4.04908
[41]	validation_0-rmse:4.01647
[42]	validation_0-rmse:3.99076
[43]	validation_0-rmse:3.96814
[44]	validation_0-rmse:3.95319
[45]	validation_0-rmse:3.93764
[46]	validation_0-rmse:3.92465
[47]	validation_0-rmse:3.91499
[48]	validation_0-rmse:3.90643
[49]	validation_0-rmse:3.89979
[50]	validation_0-rmse:3.89655
[51]	validation_0-rmse:3.89454
[52]	validation_0-rmse:3.89028
[53]	validation_0-rmse:3.88776
[54]	validation_0-rmse:3.8853
[55]	validation_0-rmse:3.88268
[56]	validation_0-rmse:3.88161
[57]	validation_0-rmse:3.88062
[58]	validation_0-rmse:3.87906
[59]	validation_0-rmse:3.8778
[60]	validation_0-rmse:3.87626
[61]	validation_0-rmse:3.87558
[62]	validation_0-rmse:3.87513
[63]	validation_0-rmse:3.87701
[64]	validation_0-rmse:3.87678
[65]	validation_0-rmse:3.87892
[66]	validation_0-rmse:3.87823
[67]	validation_0-rmse:3.87807
[68]	validation_0-rmse:3.87792
[69]	validation_0-rmse:3.87773
[70]	validation_0-rmse:3.87784
[71]	validation_0-rmse:3.87751
[72]	validation_0-rmse:3.87745
Stopping. Best iteration:
[62]	validation_0-rmse:3.87513

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [ ]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

predictions = my_model.predict(label_X_test)
print("Mean Absolute Error: " + str(mean_absolute_error(predictions, y_test)))

Mean Absolute Error: 2.997053750469167

In [ ]:
print("Mean Squared Error: " + str(mean_squared_error(predictions, y_test)))

Mean Squared Error: 15.016643747030898

In [ ]:
X_new = label_X_test[:8] # pretend these are new instances
y_pred = my_model.predict(X_new)

X_new

array([[0.00246716],
       [0.00096686],
       [0.00113356],
       [0.0006668 ],
       [0.00105021],
       [0.00160032],
       [0.00071681],
       [0.00068347]])

In [ ]:
y_test[:8]

In [ ]:
y_pred[:8]

In [ ]:
for i, v in zip(y_test[:8], y_pred[:8]):
    print( "T|P : " + str(i) + "|" + str(v))

T|P : 85|87.21074
T|P : 86|85.56626
T|P : 84|85.54859
T|P : 81|85.38588
T|P : 84|85.27588
T|P : 84|86.36906
T|P : 82|85.38588
T|P : 85|85.38588